# Making New Columns
- **df.assign( name = lambda())**
- **df['name']**
- **pd.qcut(df.col, n, labels=false)** => 해당 열을 n 개의 구간으로 label 한다
- **df['name'].clip(lower = min, upper = max)** => 해당 열의 최소 최대 임게치인 min 과 max 로 값 조정

In [4]:
import pandas as pd
import numpy as np

In [18]:
df = pd.DataFrame({'A': range(1,11), 'B':np.random.randn(10)}) # A 컬럼 1 ~ 10 , B 컬럼 랜덤 값
df

    A         B
0   1  1.348147
1   2  0.037608
2   3 -0.564414
3   4  1.019117
4   5 -1.809466
5   6  0.000018
6   7 -0.179899
7   8 -1.083719
8   9 -0.681351
9  10 -1.158638

In [19]:
df.assign(ln_A = lambda x:np.log(x.A))

    A         B      ln_A
0   1  1.348147  0.000000
1   2  0.037608  0.693147
2   3 -0.564414  1.098612
3   4  1.019117  1.386294
4   5 -1.809466  1.609438
5   6  0.000018  1.791759
6   7 -0.179899  1.945910
7   8 -1.083719  2.079442
8   9 -0.681351  2.197225
9  10 -1.158638  2.302585

In [20]:
df["ln_A"] = np.log(df.A)
df

    A         B      ln_A
0   1  1.348147  0.000000
1   2  0.037608  0.693147
2   3 -0.564414  1.098612
3   4  1.019117  1.386294
4   5 -1.809466  1.609438
5   6  0.000018  1.791759
6   7 -0.179899  1.945910
7   8 -1.083719  2.079442
8   9 -0.681351  2.197225
9  10 -1.158638  2.302585

In [24]:
pd.qcut(df.A, 3, labels=["good", "medium", "bad"]) #A 열의 정보를 3개 구간으로 나누었다

0      good
1      good
2      good
3      good
4    medium
5    medium
6    medium
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): [good < medium < bad]

In [25]:
df.min(axis = 0) # 열에서 가장 작은 값

A       1.000000
B      -1.809466
ln_A    0.000000
dtype: float64

In [26]:
df.min(axis = 1) # 행에서 가장 작은 값

0    0.000000
1    0.037608
2   -0.564414
3    1.019117
4   -1.809466
5    0.000018
6   -0.179899
7   -1.083719
8   -0.681351
9   -1.158638
dtype: float64

In [28]:
df["A"].clip(lower = -1, upper = 3) #A열의 값들의 최소 최대 입계치 조정을 통한 값 변경

0    1
1    2
2    3
3    3
4    3
5    3
6    3
7    3
8    3
9    3
Name: A, dtype: int64