# Pandas 가 무엇인가요?

## 파이썬 언어로 작성된 데이터 분석 및 조작을 위한 라이브러리

__-Panel Data System 의 약자-__  
증권사에서 퀀트 트레이딩을 하던 웨스 맥키니(Wes Mckinney)가 R에서 영향을 받아서 만들게 된 라이브러리

- 행과 열을 주로 다룬다
- 데이터 분석을 해볼 수 있다
- __엑셀로 다루지 못하는 대용량 데이터를 다룰 수 있다__
- 머신러닝이나 딥러닝을 할 때 데이터 전처리를 쉽게 할 수 있다
- 주로 시계열 데이터를 다루는데 유리하다
- __matplotlib__ 을 통한 데이터 시각화에 유리하다

참고: 판다스 10분 완성 https://dataitgirls2.github.io/10minutes2pandas/

## Pandas Data Frame과 Series

In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame(
    { "a" : [4,5,6],
     "b" : [7,8,9],
     "c" : [10,11,12],
    },
    index= [1,2,3]) # default index 는 0에서부터 시작한다

In [5]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [6]:
df["a"]

1    4
2    5
3    6
Name: a, dtype: int64

In [7]:
df["c"]

1    10
2    11
3    12
Name: c, dtype: int64

In [8]:
df[["a","b"]] # 리스트에 column 을 담아주면 여러개의 데이터를 볼 수 있다

   a  b
1  4  7
2  5  8
3  6  9

In [9]:
df.loc[1] # 1 번 인덱스 행의 정보를 볼 수 있다

a     4
b     7
c    10
Name: 1, dtype: int64

In [11]:
df.loc[3,"a"] # 3번 인덱스 행의 "a" 열의 정보를 볼 수 있다

6

In [12]:
df.loc[[1,2],["a","b"]]

   a  b
1  4  7
2  5  8

In [13]:
df = pd.DataFrame(
        [[4, 7, 10],
        [5, 8, 11],
        [6, 9, 12]], # 열의 정보를 [ ] 로 묶어주었다
        index=[1, 2, 3],
        columns=['a', 'b', 'c']) # dict 형태에서 column 인자 사용

In [15]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [16]:
df= pd.DataFrame(
    {"a" : [4 ,5, 6],
    "b" : [7, 8, 9],
    "c" : [10, 11, 12]},
    index = pd.MultiIndex.from_tuples([('d',1),('d',2),('e',2)],names=['n','v']))

In [17]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [18]:
df["b"] != 7 # b 열 정보 비교

n  v
d  1    False
   2     True
e  2     True
Name: b, dtype: bool

In [19]:
df[df["b"] != 7] # DataFrame 의 형태로 볼 수 있다

     a  b   c
n v
d 2  5  8  11
e 2  6  9  12