# Combine Data Sets
col 을 기준으로 합쳐준다

In [1]:
import pandas as pd

In [4]:
adf = pd.DataFrame({'x1':['A','B','C'], 'x2':[1,2,3]})
adf

  x1  x2
0  A   1
1  B   2
2  C   3

In [5]:
bdf = pd.DataFrame({'x1':['A','B','D'], 'x3':['T','F','T']})
bdf

  x1 x3
0  A  T
1  B  F
2  D  T

In [9]:
pd.merge(adf, bdf, how = 'left', on = 'x1') # adf가 기준, x1 을 key 로 merge 를 한다
# C 와 대응하는 값이 bdf에 없기 때문에 x3의 값이 NaN 이 된다

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

In [10]:
pd.merge(adf, bdf, how = 'right', on = 'x1')

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

In [11]:
pd.merge(adf, bdf, how = 'inner', on = 'x1') # NaN 이 없는 경우만 merge

  x1  x2 x3
0  A   1  T
1  B   2  F

In [12]:
pd.merge(adf, bdf, how = 'outer', on = 'x1') # 모든 경우들을 merge

  x1   x2   x3
0  A  1.0    T
1  B  2.0    F
2  C  3.0  NaN
3  D  NaN    T

In [14]:
bdf.x1 # bdf 데이터프레임의 x1 열

0    A
1    B
2    D
Name: x1, dtype: object

In [16]:
adf.x1.isin(bdf.x1) #adf 데이터프레임에서 bdf.x1 의 값이 포함되는지 T/F

0     True
1     True
2    False
Name: x1, dtype: bool

In [17]:
adf[adf.x1.isin(bdf.x1)] #포함되는 값만 표현

  x1  x2
0  A   1
1  B   2

In [18]:
adf[~adf.x1.isin(bdf.x1)] #포함되지 않는 값만 표현

  x1  x2
2  C   3

In [20]:
ydf = pd.DataFrame({'x1':['A','B','C'], 'x2':[1,2,3]})
ydf

  x1  x2
0  A   1
1  B   2
2  C   3

In [21]:
zdf = pd.DataFrame({'x1':['B','C','D'], 'x2':[2,3,4]})
zdf

  x1  x2
0  B   2
1  C   3
2  D   4

In [23]:
pd.merge(ydf, zdf) # 기본값이 inner join 이다

  x1  x2
0  B   2
1  C   3

In [25]:
pd.merge(ydf, zdf, how = 'outer') # inner 를 outer 로 변경

  x1  x2
0  A   1
1  B   2
2  C   3
3  D   4

In [26]:
pd.merge(ydf, zdf, how = 'outer', indicator = True)

  x1  x2      _merge
0  A   1   left_only
1  B   2        both
2  C   3        both
3  D   4  right_only

In [31]:
pd.merge(ydf, zdf, how = 'outer', indicator = True).query("_merge == 'left_only'")

  x1  x2     _merge
0  A   1  left_only

In [32]:
pd.merge(ydf, zdf, how = 'outer', indicator = True).query("_merge == 'left_only'").drop(columns = ['_merge'])

  x1  x2
0  A   1