In [4]:
import pandas as pd
import numpy as np # 수치 계산 라이브러리

In [5]:
#결측치 생성
df = pd.DataFrame([[np.nan, 2, np.nan, 0], 
                   [3,4,np.nan,1], 
                   [np.nan, np.nan, np.nan , 5]], 
                   columns = list('ABCD'))
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

# 결측치 다루기

- **df.dropna** => 결측치 제거
    - df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
        - **axis 가 0 이면 Row, 1 이면 Column 을 의미**
- **df.fillna(value)** => 결측치 보완
    - 결측치를 입력한 **value 로 대체한다**
- isnull(), notnull()로 결측치 및 온전한 데이터 개수 확인 가능

In [8]:
df.dropna(axis = 1, how = 'all') # axis = 1 이어서 열 -> 열의 모든 데이터가 NaN 이면 Drop

     A    B  D
0  NaN  2.0  0
1  3.0  4.0  1
2  NaN  NaN  5

In [10]:
df.dropna(axis = 0, how = 'any') # axis = 0 이어서 행 -> 행에 NaN 이 하나라도 있으면 Drop

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [11]:
df.fillna(0) # 결측치를 새로운 value로 채운다

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5

In [15]:
values = { 'A': 0, 'B': 1, 'C':2 , 'D':3} #각 열 마다의 결측치 값에 새롭게 들어갈 태그 지정
df.fillna(value = values)

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  5

In [18]:
df #위에서 채운 결측치를 반영하기 위해선 df = df.fillna(value) 를 해야 테이블 자체가 바뀐다

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [19]:
df.isnull().sum() #결측치의 개수를 셀 수 있다.

A    2
B    1
C    3
D    0
dtype: int64

In [20]:
df.notnull().sum()

A    1
B    2
C    0
D    3
dtype: int64